@media (min-width: 601px) {
  body {
    background-color: magenta;
  }

  h1 {
    font-size: 3em;
  }

  div[id="clock-settings"] {
    min-width: 500px;
    width: 40%;
  }

  div[id="clock-settings"] label {
    font-size: 1.8em;
  }

  div[id="clock-settings"] span {
    font-size: 2em;
  }

  div[id="clock-face"] {
    min-width: 400px;
    width: 50%;
  }

  label[id="timer-label"] {
    font-size: 1.8em;
  }

  label[id="time-left"] {
    font-size: 8em;
    font-weight: bold;
  }

  div[id="clock-controls"] {
    min-width: 250px;
    width: 25%;
  }
}
