body {
  background-color: lime;
  font-family: zekton, tahoma;
}

h1 {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

div[id="clock"] {
  margin-top: 40px;
  width: 90%;
}

div[id="clock-settings"] {
  max-width: 400px;
  width: 100%;
}

div[id="clock-settings"] label {
  font-size: 1.2em;
  font-weight: bold;
}

div[id="clock-settings"] span {
  font-size: 1.4em;
  font-weight: bold;
}

div[id="clock-face"] {
  border: 5px solid darkSlateGrey;
  border-radius: 5%;
  margin: 15px 0 15px 0;
  max-width: 300px;
  width: 85%;
}

div[id="clock-face"] > label {
  font-weight: bold;
  margin: 0;
}

label[id="timer-label"] {
  font-size: 1.2em;
}

label[id="time-left"] {
  font-size: 5em;
}

div[id="clock-controls"] {
  max-width: 250px;
  width: 60%;
}
